.slide {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT BOX */
.text-box {
  position: absolute;
  bottom: 30%;               /* final position */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  animation: slideUp 1s ease-out forwards;
}

/* TEXT STYLES */
.text-box h2 {
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-box p {
  padding: 5px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* ANIMATION */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 50px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
